.banner {
	padding-bottom: 126px;
	padding-top: 90px;
	align-items: flex-start;

	@include up-to("xl") {
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
	}

	@include up-to("lg") {
		padding-bottom: 60px;
		padding-top: 50px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@include up-to("md") {
		h1 {
			font-size: 42px;
		}

		img {
			margin-top: 50px;
			width: 100%;
		}
	}
}

.banner-text {
	margin-top: 16px;
	margin-bottom: 20px;

	@include up-to("xl") {
		font-size: 16px;

		br {
			display: none;
		}
	}
}

.need-demo {
	p {
		font-weight: 300;
		color: $btn-color-black;
		max-width: 440px;

		@include up-to("xl") {
			margin: 0px auto;
		}
	}

	a {
		text-decoration: none;
	}

	@include up-to("md") {
		padding: 14px;
	}
}



.banner-form {
	justify-content: start;
	gap: 3px;


	input[type="text"] {
		width: 50%;
		background: #FFFFFF;
		border: 1px solid #D8D8D8;
		border-radius: 5px;
		max-width: 270px;
		padding: 14px 47px 17px 18px;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.2;

		@include up-to("md") {
			padding: 14px 10px 17px;
			min-width: 75%;
			text-align: center;
		}

		@include up-to("sm") {
			padding: 14px 10px 17px;
			min-width: 100%;
			text-align: center;
		}
	}

	input[type="text"]::placeholder {
		color: #BCBCBC;
		text-align: center;
	}

	input[type="text"]:focus {
		outline: none;
	}

	@include up-to("xl") {
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	@include up-to("md") {
		justify-content: center;
		flex-direction: column;
	}

}

.banner-button {
	padding: 10px 22px;

	@include up-to("md") {
		// padding: 10px 7px 10px 7px;
		min-width: 75%;
	}

	@include up-to("sm") {
		padding: 10px;
		min-width: 100%;
	}
}

.banner-paragraph {

	h2 {
		@include up-to("xl") {
			text-align: center !important;
			font-size: 24px;
		}
	}

	p {
		max-width: 1110px;
		padding-bottom: 18px;
		padding-top: 16px;
		margin: 0px auto;
		color: $btn-color-black;

		@include up-to("xl") {
			text-align: justify !important;
		}
	}

	a {
		text-decoration: none;
		position: relative;
	}

	a:after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: -2px;
		margin: 0 auto;
		left: 0;
		right: 0;
		width: 100%;
		background: black;
	}


	@include up-to("xl") {
		margin-top: -15px;
	}
}