.clip-master-wrapper {
    background-color: $white;
    padding-top: 10px;
    border-radius: 5px;
}

.clips-wrapper {
    justify-content: center;
    padding-top: 56px;
    padding-bottom: 54px;
    padding-left: 200px;
    padding-right: 120px;

    &-text {
        max-width: 967px;
        margin: 0px auto;
        padding: 10px 0px 60px 0px;
        text-align: center;

        @include up-to("lg") {
            padding: 20px;
            padding-bottom: 80px;
            text-align: left;
        }
    }

    @include up-to("xl") {
        padding-left: 150px;
        flex-wrap: wrap;
    }

    @include up-to("lg") {
        padding-left: 80px;
        padding-right: 30px;
    }
}

.clips-container {
    padding: 5px;

    @include up-to("xl") {
        padding-top: 20px;
    }
}

.clip-number {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #F2F2F2;
    padding: 9px;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 24px;

    @include up-to("xl") {
        margin-left: -10px;
    }

    @include up-to("xl") {
        margin-left: 0px;
    }

    &-2 {
        @extend .clip-number;
        margin-left: -75px;

        @include up-to("xl") {
            margin-left: -65px;
        }

        @include up-to("xl") {
            margin-left: 0px;
        }
    }
}

.clip1 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: auto;
    min-width: 300px;
    padding: 17px 50px 17px 38px;
    // background-image: url("../Assets/clip1.png");
    // background-size: contain;
    // background-repeat: no-repeat;
    background-color: $color-bg-green;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);

    @include up-to("xl") {
        min-width: 250px;
        margin-left: -10px;
        padding: 17px 20px 17px 20px;
        // border-top-left-radius: 5px;
        // border-bottom-left-radius: 5px;
        // clip-path: polygon(0% 0%, 75% 0%, 85% 50%, 75% 100%, 0% 100%);
    }

    @include up-to("xl") {
        padding: 17px 70px 17px 16px;
        margin-left: 0px;
    }

}

.clip2 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: auto;
    margin-left: -75px;
    min-width: 225px;
    max-width: 300px;
    padding: 20px 0px 20px 40px;
    align-items: center;
    // background-image: url("../Assets/clip22.png");
    // background-repeat: no-repeat;
    background-color: $color-bg-green;
    color: white;
    // clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);

    clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);

    @include up-to("xl") {
        min-width: 250px;
        margin-left: -65px;
        padding: 17px 0px 17px 30px;

    }

    @include up-to("xl") {
        padding: 17px 50px 17px 20px;
        margin-left: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
    }
}

.clip3 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: auto;
    margin-left: -55px;
    min-width: 250px;
    max-width: 300px;
    padding: 20px 0px 20px 30px;
    align-items: center;
    // background-image: url("../Assets/clip22.png");
    // background-re5peat: no-repeat;
    background-color: $color-bg-green;
    color: white;
    // clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);

    clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);

    @include up-to("xl") {
        min-width: 250px;
        margin-left: -65px;
        padding: 17px 0px 17px 30px;

    }

    @include up-to("xl") {
        padding: 17px 50px 17px 20px;
        margin-left: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
    }
}

.clip4 {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    width: auto;
    margin-left: -60px;
    min-width: 280px;
    max-width: 300px;
    padding: 20px 0px 20px 40px;
    align-items: center;
    // background-image: url("../Assets/clip22.png");
    // background-repeat: no-repeat;
    background-color: $color-bg-green;
    color: white;
    // clip-path: polygon(75% 0%, 85% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);

    clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);

    @include up-to("xl") {
        min-width: 250px;
        margin-left: -65px;
        padding: 17px 0px 17px 30px;

    }

    @include up-to("xl") {
        padding: 17px 50px 17px 20px;
        margin-left: 0px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
    }
}

.clip-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 54px;
    column-gap: 38px;

    @include up-to("lg") {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }

    @include up-to("md") {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 30px;
    }

    &-images {
        max-width: 48px;
        max-height: 48px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        color: white;
        padding: 9px;
        margin-bottom: 15px;
    }

    &-container {
        &-illustrations {
            margin-top: -60px;
        }

        @include up-to("lg") {
            flex-direction: column;

            &-illustrations {
                margin-top: 40px;
                width: 300px;

                @include up-to("md") {
                    width: 100%;
                }
            }

        }


    }

    &-items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        p {
            font-size: 18px;
            font-weight: 500;
            line-height: 1.8;
            text-align: center;

            @include up-to("md") {
                font-size: 14px;
            }
        }

        // @include up-to("md") {
        //     padding: 5px 20px;
        // }
    }


}