@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1340px) {
  body br {
    display: none;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.25;
  color: #0D1B1E;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  color: #0D1B1E;
}
@media (max-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.45;
}

a {
  color: black;
  font-weight: 600;
}

.container-xl {
  margin: 19px auto;
  max-width: 1300px;
}
@media (max-width: 1340px) {
  .container-xl {
    margin: 20px;
  }
}
@media (max-width: 1200px) {
  .container-xl {
    margin: 15px;
  }
}

.content-center {
  justify-content: center !important;
  align-items: center !important;
}

.container-md {
  margin: 0px auto;
  max-width: 1200px;
}
@media (max-width: 1340px) {
  .container-md {
    margin: 15px;
  }
}

@media (max-width: 425px) {
  .margin {
    margin: 0px 15px;
  }
}

.xsm-text {
  font-size: 12px;
  line-height: 1.2;
}

.sm-text {
  line-height: 1;
  font-size: 14px;
}

.md-text {
  line-height: 1.8;
  font-size: 18px;
}

.text-center {
  text-align: center;
}
@media (max-width: 992px) {
  .text-center {
    text-align: left;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid {
  display: grid;
  justify-content: space-between;
  align-items: center;
}

.m-8 {
  margin: 8px;
}

.ml-25 {
  margin-left: 25px;
}

.ml-16 {
  margin-left: 16px;
}

.p-16 {
  padding: 16px;
}

.py-14 {
  padding: 14px 0px 14px 0px;
}

.py-32 {
  padding: 32px 0px 32px 0px;
}

.pl-20 {
  padding-left: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.py-80 {
  padding: 80px 0px 80px 0px;
}

.mt-32 {
  margin-top: 32px;
}

.mb-23 {
  margin-bottom: 23px;
}

.pt-99 {
  padding-top: 99px;
}

.pb-92 {
  padding-bottom: 92px;
}

.pb-46 {
  padding-bottom: 46px;
}

.pb-32 {
  padding-bottom: 32px;
}

.px-237 {
  padding-left: 237px;
  padding-right: 237px;
}

@media (max-width: 767px) {
  .md-px-50 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.mt--65 {
  margin-top: -65px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mx-auto {
  margin: 0px auto;
}
@media (max-width: 767px) {
  .mx-auto {
    margin: 0px 15px;
  }
}

.max-w-970 {
  max-width: 970px;
  margin: 15px auto;
}
@media (max-width: 767px) {
  .max-w-970 {
    margin: 0px 15px;
  }
}

.mt-100 {
  margin-top: 100px;
}

.pb-320 {
  padding-bottom: 320px;
}

.max-w-630 {
  max-width: 630px;
}
@media (max-width: 1200px) {
  .max-w-630 {
    max-width: 100%;
  }
}

.mt--250 {
  margin-top: -250px;
}

.pl-25 {
  padding-left: 25px;
}

.pr-25 {
  padding-right: 25px;
}

.filter {
  filter: opacity(20%);
}

.max-w-1380 {
  max-width: 1380px;
}

.navbar {
  justify-content: flex-start;
}
@media (max-width: 425px) {
  .navbar img {
    width: 175px;
  }
}

.nav-items {
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  .nav-item {
    display: none;
  }
}

.btn-primary {
  background: #30BF91;
  border-radius: 5px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  transition: background-color ease-in-out 0.2s;
}

.btn-primary:hover {
  background-color: #5ECDAA;
}

.banner {
  padding-bottom: 126px;
  padding-top: 90px;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .banner {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .banner {
    padding-bottom: 165px;
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.banner h1 {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .banner h1 {
    font-size: 42px;
    margin-right: 0px;
  }
  .banner img {
    margin-top: 50px;
    width: 100%;
  }
}

.banner-text {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-right: 10px;
}
@media (max-width: 1200px) {
  .banner-text {
    font-size: 16px;
  }
  .banner-text br {
    display: none;
  }
}

.need-demo p {
  font-weight: 300;
  color: #0D1B1E;
}
@media (max-width: 1200px) {
  .need-demo p {
    margin: 0px auto;
  }
}
.need-demo a {
  text-decoration: none;
  font-size: 14px !important;
}
@media (max-width: 767px) {
  .need-demo {
    padding: 14px;
  }
}

.banner-form {
  justify-content: start;
  gap: 3px;
}
.banner-form input[type=text] {
  width: 50%;
  background: #FFFFFF;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  max-width: 270px;
  padding: 14px 47px 14px 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .banner-form input[type=text] {
    padding: 14px 10px 14px;
    min-width: 75%;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .banner-form input[type=text] {
    padding: 14px 10px 14px;
    min-width: 100%;
    text-align: center;
  }
}
.banner-form input[type=text]::placeholder {
  color: #BCBCBC;
  text-align: center;
}
.banner-form input[type=text]:focus {
  outline: none;
}
@media (max-width: 1200px) {
  .banner-form {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .banner-form {
    justify-content: center;
    flex-direction: column;
  }
}

.banner-button {
  padding: 8px 22px;
}
@media (max-width: 767px) {
  .banner-button {
    min-width: 75%;
  }
}
@media (max-width: 425px) {
  .banner-button {
    padding: 10px;
    min-width: 100%;
  }
}

@media (max-width: 1200px) {
  .banner-paragraph h2 {
    text-align: center !important;
    font-size: 24px;
  }
}
.banner-paragraph p {
  max-width: 1110px;
  padding-bottom: 18px;
  padding-top: 16px;
  margin: 0px auto;
  color: #0D1B1E;
}
@media (max-width: 1200px) {
  .banner-paragraph p {
    text-align: justify !important;
  }
}
.banner-paragraph a {
  text-decoration: none;
  position: relative;
  line-height: 1.5;
}
.banner-paragraph a:after {
  position: absolute;
  content: "";
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: black;
}
@media (max-width: 1200px) {
  .banner-paragraph {
    margin-top: -70px;
  }
}

.build-section {
  background-color: #F5FDFF;
  margin-top: 252px;
  overflow: visible;
}
.build-section-white {
  background-color: white;
}
.build-section-container {
  position: relative;
  top: -150px;
  background-color: #33393F;
  padding: 40px 80px 35px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}
.build-section-container-items {
  color: white;
  width: 280px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px;
}
@media (max-width: 992px) {
  .build-section-container-items {
    padding-top: 50px;
  }
}
.build-section-container-items h5 {
  font-size: 20px;
  line-height: 1.25;
}
.build-section-container-items p {
  font-size: 18px;
  line-height: 1.2;
  margin: 18px 10px 10px;
  min-height: 80px;
  font-weight: 400;
}
.build-section-container-green {
  position: relative;
  top: -150px;
  padding: 60px 0px;
  justify-items: center;
  align-items: center;
  background-color: #19B885;
}
@media (max-width: 1200px) {
  .build-section-container-green {
    padding: 65px 20px;
    margin: 0px !important;
  }
}
.build-section-container-green-form {
  justify-content: center;
  align-items: end !important;
}
@media (max-width: 1200px) {
  .build-section-container-green-form {
    min-width: 75%;
  }
}
@media (max-width: 767px) {
  .build-section-container-green-form {
    flex-direction: column;
  }
}
.build-section-container-green h2 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 2;
  text-align: center;
  color: white;
  padding-bottom: 14px;
}
@media (max-width: 767px) {
  .build-section-container-green h2 {
    font-size: 24px;
    padding-bottom: 20px !important;
    font-weight: 700;
    line-height: 1.5;
  }
}
.build-section-container-green input[type=text] {
  background: #FFFFFF;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 310px;
  padding: 14px 17px 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .build-section-container-green input[type=text] {
    padding: 14px;
    border-radius: 5px;
    min-width: 100px;
    width: 100%;
    text-align: center;
  }
}
.build-section-container-green .btn-primary {
  background-color: #0D1B1E;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: 1px solid #0D1B1E;
  padding: 8px 27px 8px 34px;
}
@media (max-width: 767px) {
  .build-section-container-green .btn-primary {
    padding: 9px 10px 8px;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .build-section-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .build-section {
    margin-top: 230px;
  }
  .build-section-container {
    padding: 30px 0px 60px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.demo {
  margin: 0px auto;
  max-width: 500px;
  color: white;
  text-align: center;
  padding: 14px 4px;
}
.demo a {
  color: white;
}
@media (max-width: 1200px) {
  .demo {
    text-align: center;
    padding: 14px 20px;
  }
}

.clip-master-wrapper {
  background-color: white;
  padding-top: 10px;
  border-radius: 5px;
}

.clips-wrapper {
  justify-content: center;
  padding-top: 56px;
  padding-bottom: 54px;
  padding-left: 200px;
  padding-right: 120px;
}
.clips-wrapper-text {
  max-width: 967px;
  margin: 0px auto;
  padding: 10px 0px 60px 0px;
  text-align: center;
}
@media (max-width: 992px) {
  .clips-wrapper-text {
    padding: 20px;
    padding-bottom: 80px;
    text-align: left;
  }
}
@media (max-width: 1200px) {
  .clips-wrapper {
    padding-left: 150px;
    flex-wrap: wrap;
  }
}
@media (max-width: 992px) {
  .clips-wrapper {
    padding-left: 80px;
    padding-right: 30px;
  }
}

.clips-container {
  padding: 5px;
}
@media (max-width: 1200px) {
  .clips-container {
    padding-top: 20px;
  }
}

.clip-number, .clip-number-2 {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #F2F2F2;
  padding: 9px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 1200px) {
  .clip-number, .clip-number-2 {
    margin-left: -10px;
  }
}
@media (max-width: 1200px) {
  .clip-number, .clip-number-2 {
    margin-left: 0px;
  }
}
.clip-number-2 {
  margin-left: -75px;
}
@media (max-width: 1200px) {
  .clip-number-2 {
    margin-left: -65px;
  }
}
@media (max-width: 1200px) {
  .clip-number-2 {
    margin-left: 0px;
  }
}

.clip1 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: auto;
  min-width: 300px;
  padding: 17px 50px 17px 38px;
  background-color: #19B885;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
}
@media (max-width: 1200px) {
  .clip1 {
    min-width: 250px;
    margin-left: -10px;
    padding: 17px 20px 17px 20px;
  }
}
@media (max-width: 1200px) {
  .clip1 {
    padding: 17px 70px 17px 16px;
    margin-left: 0px;
  }
}

.clip2 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: auto;
  margin-left: -75px;
  min-width: 225px;
  max-width: 300px;
  padding: 20px 0px 20px 40px;
  align-items: center;
  background-color: #19B885;
  color: white;
  clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);
}
@media (max-width: 1200px) {
  .clip2 {
    min-width: 250px;
    margin-left: -65px;
    padding: 17px 0px 17px 30px;
  }
}
@media (max-width: 1200px) {
  .clip2 {
    padding: 17px 50px 17px 20px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
  }
}

.clip3 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: auto;
  margin-left: -55px;
  min-width: 250px;
  max-width: 300px;
  padding: 20px 0px 20px 30px;
  align-items: center;
  background-color: #19B885;
  color: white;
  clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);
}
@media (max-width: 1200px) {
  .clip3 {
    min-width: 250px;
    margin-left: -65px;
    padding: 17px 0px 17px 30px;
  }
}
@media (max-width: 1200px) {
  .clip3 {
    padding: 17px 50px 17px 20px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
  }
}

.clip4 {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: auto;
  margin-left: -60px;
  min-width: 280px;
  max-width: 300px;
  padding: 20px 0px 20px 40px;
  align-items: center;
  background-color: #19B885;
  color: white;
  clip-path: polygon(75% 0%, 82% 50%, 75% 100%, 0% 100%, 6% 50%, 0% 0%);
}
@media (max-width: 1200px) {
  .clip4 {
    min-width: 250px;
    margin-left: -65px;
    padding: 17px 0px 17px 30px;
  }
}
@media (max-width: 1200px) {
  .clip4 {
    padding: 17px 50px 17px 20px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    clip-path: polygon(0% 0%, 75% 0%, 80% 50%, 75% 100%, 0% 100%);
  }
}

.clip-grid {
  grid-template-columns: repeat(3, 1fr);
  row-gap: 54px;
  column-gap: 38px;
}
@media (max-width: 992px) {
  .clip-grid {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    column-gap: 30px;
  }
}
@media (max-width: 767px) {
  .clip-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 30px;
  }
}
.clip-grid-images {
  max-width: 48px;
  max-height: 48px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 9px;
  margin-bottom: 15px;
}
.clip-grid-container-illustrations {
  margin-top: -60px;
}
@media (max-width: 992px) {
  .clip-grid-container {
    flex-direction: column;
  }
  .clip-grid-container-illustrations {
    margin-top: 40px;
    width: 300px;
  }
}
@media (max-width: 992px) and (max-width: 767px) {
  .clip-grid-container-illustrations {
    width: 100%;
  }
}
.clip-grid-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.clip-grid-items p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
}
@media (max-width: 767px) {
  .clip-grid-items p {
    font-size: 14px;
  }
}

.principle-purpose {
  justify-content: space-around;
  align-items: center;
}
.principle-purpose :nth-child(1) {
  flex: 1;
}
.principle-purpose-wrapper {
  max-width: 720px;
  margin: 0px auto;
  text-align: center;
  padding-top: 37px;
  padding-bottom: 54px;
}
@media (max-width: 767px) {
  .principle-purpose-wrapper {
    margin: 0px 15px;
    text-align: left;
    padding-bottom: 0px;
  }
}
.principle-purpose-wrapper hr {
  border: 1px solid;
  color: #DEE4E5;
}
.principle-purpose-text {
  line-height: 1.8;
  font-size: 16px;
  padding-bottom: 50px;
  max-width: 652px;
  margin: 0 auto;
}
.principle-purpose-h3-1 {
  margin-top: 24px;
  margin-bottom: 16px;
}
@media (max-width: 1200px) {
  .principle-purpose-h3-1 {
    font-size: 20px !important;
  }
}
.principle-purpose-h3-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .principle-purpose-h3-2 {
    font-size: 20px !important;
  }
}

.perks {
  text-align: center;
}
.perks .flex:nth-child(odd) {
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .perks .flex:nth-child(odd) {
    padding-left: 5px;
  }
}
.perks .flex:nth-child(even) {
  padding-right: 20px;
}
@media (max-width: 1200px) {
  .perks .flex:nth-child(even) {
    padding-left: 5px;
  }
}
@media (max-width: 1200px) {
  .perks .flex:nth-child(odd) {
    flex-direction: column;
  }
  .perks .flex:nth-child(even) {
    flex-direction: column-reverse;
  }
  .perks .flex img {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 1200px) and (max-width: 992px) {
  .perks .flex img {
    width: 100%;
  }
}
.perks h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.3;
  text-align: left;
}
@media (max-width: 1200px) {
  .perks h2 {
    text-align: left;
    font-size: 22px;
  }
}
.perks p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.875;
  text-align: left;
}
@media (max-width: 1200px) {
  .perks p {
    text-align: left;
    padding: 10px 0px;
  }
}
@media (max-width: 767px) {
  .perks {
    padding-bottom: 250px !important;
  }
}

@media (max-width: 1200px) {
  .contain {
    padding: 40px 0px;
  }
}

.ss-wrapper {
  margin-top: -250px;
  padding-bottom: 270px;
  background-color: #33393F;
  color: white;
}
@media (max-width: 1200px) {
  .ss-wrapper {
    padding: 40px 0px 210px;
  }
}
.ss-wrapper-text {
  color: white;
  margin-bottom: 25px;
  padding-top: 104px;
}
@media (max-width: 1200px) {
  .ss-wrapper-text {
    padding-top: 15px;
  }
}
.ss-wrapper .grid {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 94px;
}
@media (max-width: 1200px) {
  .ss-wrapper .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.ss-items {
  align-items: start;
  padding: 104px 20px 0px;
}
.ss-items img {
  background-color: #19B885;
  padding: 8px;
  border-radius: 100px;
}
@media (max-width: 1200px) {
  .ss-items img {
    padding: 5px;
  }
}
@media (max-width: 1200px) {
  .ss-items {
    padding: 100px 0px 0px;
  }
}
.ss-items-text {
  padding-left: 24px;
}
.ss-items-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  padding-bottom: 20px;
}
@media (max-width: 1200px) {
  .ss-items-text h3 {
    line-height: 1;
    font-size: 20px;
    padding: 10px 0px;
  }
}
@media (max-width: 1200px) {
  .ss-items-text p {
    margin-left: -65px;
    margin-top: 30px;
  }
}

.medals {
  margin: 0px auto;
  padding-bottom: 170px;
  max-width: 920px;
}
@media (max-width: 1200px) {
  .medals {
    margin-top: 90px;
    padding-bottom: 65px;
  }
}
.medals-text {
  text-align: center;
  padding-bottom: 120px;
}
@media (max-width: 1200px) {
  .medals-text {
    margin: -90px 0px;
    padding-bottom: 50px;
  }
}
.medals-text h2 {
  padding-bottom: 32px;
}
@media (max-width: 767px) {
  .medals {
    flex-direction: column;
  }
  .medals img {
    padding: 20px 5px;
    width: 50%;
  }
}

@media (max-width: 992px) {
  .competitors {
    margin: 10px 30px;
  }
}
.competitors-text {
  text-align: center;
}
.competitors-grid {
  justify-content: center;
  margin: 0px 200px;
}
@media (max-width: 1200px) {
  .competitors-grid {
    margin: 0px 100px;
  }
}
.competitors .grid {
  padding-top: 104px;
  padding-bottom: 160px;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 130px;
  column-gap: 120px;
}
@media (max-width: 1200px) {
  .competitors .grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 70px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.competitors .grid img {
  align-self: flex-end;
}
@media (max-width: 1200px) {
  .competitors .grid img {
    width: 100px;
    padding: 0px;
    justify-self: center;
    align-self: center;
  }
}

.customers {
  margin: 0px 245px;
}
@media (max-width: 992px) {
  .customers {
    margin: 0px 0px;
  }
}
.customers-text {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.7;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  max-width: 950px;
  margin: 5px auto;
}
.customers-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 30px;
}
@media (max-width: 1200px) {
  .customers-image {
    margin: 10px;
  }
}
.customers-image h3 {
  font-size: 26px;
  font-weight: 500;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 3px;
}
@media (max-width: 1200px) {
  .customers-image h3 {
    font-size: 18px;
  }
}
.customers-image p {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.customers-images {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 75px 0px 150px;
}
@media (max-width: 1200px) {
  .customers-images {
    padding: 50px 20px;
  }
  .customers-images :first-child {
    display: none;
  }
  .customers-images :last-child {
    display: none;
  }
}
.customers-images div :first-child {
  display: flex;
}
.customers-images div :last-child {
  display: flex;
}
.customers-images img {
  border-radius: 100px;
}
@media (max-width: 1200px) {
  .customers-images img {
    width: 50px;
  }
}

.believe-container {
  margin: 0px auto;
  background-color: #364250;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .believe-container {
    padding: 0px 15px;
  }
}
.believe-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.believe-contents-heading {
  position: relative;
  z-index: 2;
  padding-top: 77px;
  padding-bottom: 26px;
}
.believe-contents-heading-h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  color: white;
  text-align: center;
}
@media (max-width: 1200px) {
  .believe-contents-heading-h2 {
    font-size: 36px;
  }
}
.believe-contents-text {
  padding-top: 18px;
  padding-bottom: 90px;
}
.believe-contents-text p {
  color: white;
  font-size: 14px !important;
  line-height: 1.2;
}
@media (max-width: 1200px) {
  .believe-contents-text {
    padding-bottom: 80px;
  }
}
.believe-contents form {
  position: relative;
  z-index: 2;
  justify-content: center;
  min-width: 500px;
}
@media (max-width: 1200px) {
  .believe-contents form {
    flex-direction: column;
  }
}
.believe-contents form input[type=text] {
  background: #FFFFFF;
  border-top: 1px solid #D8D8D8;
  border-bottom: 1px solid #D8D8D8;
  border-left: 1px solid #D8D8D8;
  border-right: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 310px;
  padding: 16px 17px 16px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}
@media (max-width: 1200px) {
  .believe-contents form input[type=text] {
    border-radius: 5px;
    text-align: center;
    min-width: 60%;
  }
}
.believe-contents form input[type=text]::placeholder {
  color: black;
}
.believe-contents form input[type=text]:focus {
  outline: none;
}
.believe-contents form .btn-primary {
  padding: 15px 15px 14px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #30BF91;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}
@media (max-width: 1200px) {
  .believe-contents form .btn-primary {
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
    min-width: 60%;
  }
}
.believe-bg {
  position: absolute;
  top: 32px;
  right: 200px;
  z-index: 1;
  user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
@media (max-width: 1200px) {
  .believe-bg {
    top: 100px;
  }
}

.footer {
  max-width: 1300px;
  margin: 175px auto;
  justify-content: space-between;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 65px auto;
  }
}
.footer h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  text-align: left;
}
.footer p {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.footer p a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: rgba(13, 27, 30, 0.5019607843);
}
.footer-items {
  margin: 20px;
}
@media (max-width: 1200px) {
  .footer-items {
    margin: 10px 5px;
  }
  .footer-items h2 {
    text-align: center;
  }
  .footer-items p {
    justify-content: center;
    align-items: center;
  }
  .footer-items p a {
    text-align: center;
  }
}
.footer-connect {
  padding-top: 30px;
  padding-bottom: 25px;
}
@media (max-width: 1200px) {
  .footer-connect {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
.footer-connect-item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer-connect-item a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
  color: rgba(13, 27, 30, 0.5019607843);
  padding: 5px;
}
.footer-images {
  max-width: 366px;
}
.footer-images :nth-child(1) {
  padding: 12px 12px 12px 0px;
}
.footer-images :nth-child(2) {
  padding: 12px;
}
.footer-images :nth-child(3) {
  padding: 12px;
}
.footer-images :nth-child(4) {
  padding: 12px;
}
.footer-images :nth-child(5) {
  padding: 12px 0px 12px 12px;
}
@media (max-width: 425px) {
  .footer-images :nth-child(1) {
    padding: 12px;
  }
  .footer-images :nth-child(2) {
    padding: 12px;
  }
  .footer-images :nth-child(3) {
    padding: 12px;
  }
  .footer-images :nth-child(4) {
    padding: 12px;
  }
  .footer-images :nth-child(5) {
    padding: 12px;
  }
}
.footer-iso {
  padding-top: 50px;
}
@media (max-width: 1200px) {
  .footer-iso {
    display: block;
    margin: auto;
  }
}

/*# sourceMappingURL=styles.css.map */
